In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
queries = None

with open('Data/CLEF3/queries-corpus-utf', 'rb') as f:
    queries = pickle.load(f)

In [4]:
docs = None
with open('Data/CLEF3/cleaned-corpus-utf', 'rb') as f:
    docs = pickle.load(f)

In [5]:
queries[0][0]

[[array([0., 0., 0., ..., 0., 0., 0.]), 0.01856127620018591],
 [array([0., 0., 0., ..., 0., 0., 0.]), 5.997181324777355e-06],
 [array([0., 0., 0., ..., 0., 0., 0.]), 0.053518846142313115]]

In [6]:
queries[0][1].shape

(166745,)

In [8]:
docs = pd.DataFrame(
    docs,
    columns=['docno', 'docid', 'text', 'len']
)
docs.head()

,docno,docid,text,len
0,LA010194-0001,000013,in hi book father son co my life at ibm and be...,332
1,LA010194-0002,000014,major crime drop while they dream of hollywood...,339
2,LA010194-0004,000016,mandel weiss a pioneer of such retail shop clu...,294
3,LA010194-0005,000017,rabbi marshal t meyer a lead voic of american ...,106
4,LA010194-0006,000018,thoma j watson jr who brought intern busi mach...,622

In [9]:
np.unique(docs['docid']).shape, docs.shape

((166745,), (166745, 4))